html
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image:url("../Media/background.avif");
    text-align: justify;
}

body
{
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-style: solid;
    background-color: white;
    background-image: none;
    height: 1200px;
}

nav
{
    background-image:url("../Media/background.avif");
    text-align: center;
    font-size: 25px;
    height: 200px;
    border-style: dashed;
    border-color: green;
}
nav img, nav h1
{
    margin: 0;
    padding: 0;
    border: 0;
    height: 150px;
}

.clube h1
{
    margin-top: 10px;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}

.clube p
{
    font-size: 20px;
    text-indent: 50px;
}

.clube img
{
    float: right;
    height: 600px;
    margin-left: 50px;
    border-style: dashed;
    border-color: green;
}

.clube img:active
{
    border-color: grey;
}

.metas h2
{
    font-size: 30px;
    margin-bottom: 10px;
}

.metas ul
{
    font-size: 18px;
    margin: 0px;
    padding-left: 16px;
}

.organizador h2
{
    font-size: 30px;
}

.organizador p
{
    margin-bottom: 5px;
}

.organizador img
{
    float: left;
    height: 200px;
    margin-right: 20px;
    border-radius: 150px;
}

.contato ul
{
    margin: 0px;  
    padding-left: 0px;
    padding-top: 10px;
    list-style: none;
    float: left;
}

hr
{
    width: 300px;
    margin-left: 0px
}

.contato .icone-cont
{
    margin-left: 0px;
    margin-right: 10px;
    height: 20px;
}

.contato .icone-cont:hover
{
    transform: none;
}

.contato img
{
    height: 45px;
    margin-left: 20px;
    border-radius: 0px;
    float: left;
}

.peao
{
    margin-top: 10px;
}

.contato img:hover
{
    transform: rotateZ(45deg);
}
